{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint"],
  "parserOptions": {
    "ecmaVersion": 6,
    "project": "./tsconfig.json"
  },
  "extends": [
    "plugin:prettier/recommended",
    "airbnb-typescript",
    "prettier",
    "prettier/@typescript-eslint",
    "prettier/react"
  ],
  "rules": {
    "max-len": ["warn", { "code": 300 }],
    // Make prettier code formatting suggestions more verbose.
    "prettier/prettier": ["warn"],
    // Disable <Fragment> => <> replacement. Feel free to change
    "react/jsx-fragments": "off",
    // Disable prefer default export
    "import/prefer-default-export": "off",
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx", ".ts", ".tsx"] }],
    "react/jsx-props-no-spreading": [0, {
      "html": "ignore",
      "custom": "ignore",
      "explicitSpread": "ignore",
      "exceptions": []
    }],
    "no-underscore-dangle": ["error", { "allow": ["_id"]}],
    "class-methods-use-this": [0]
  }
}
